<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiProvince</key>
	<string>https://indonesia-covid-19.mathdro.id/api/provinsi</string>
	<key>pathIndonesia</key>
	<string>/api/countries/indonesia</string>
	<key>covidDns</key>
	<string>https://covid19.mathdro.id</string>
</dict>
</plist>
